# Normalize text files
* text=auto

# Ignore documentation
*.md linguist-documentation

# Ignore project metadata
*.toml linguist-generated

# Ignore shell/install scripts
*.sh linguist-generated
*.ps1 linguist-generated

# Ignore Git configuration files
.gitignore linguist-generated
.gitattributes linguist-generated
