# Auto detect text files and perform LF normalization
* text=auto

# Python source
*.py text eol=lf

# Documentation
*.md linguist-documentation

# Build, install and maintenance scripts
*.sh linguist-generated
*.ps1 linguist-generated

# GitHub configuration
.github/** linguist-generated

# Project metadata
pyproject.toml linguist-documentation

# Ignore licenses and security documentation in language statistics
LICENSE linguist-documentation
SECURITY.md linguist-documentation
